<div class="portfolio-page">
  <div class="row portfolio-page__title">
    <div class="col-xs-12">
      <h2 class="media-heading">Portfolio</h2>
    </div>
  </div>
  <hr class="portfolio-page__divider" />
  <div class="row portfolio-page__columns">
    <div class="col-sm-6 portfolio-page__column portfolio-page__column--left">
      <app-account></app-account>
      <hr class="portfolio-page__section-divider" />
      <router-outlet></router-outlet>
    </div>
    <div class="col-sm-6 portfolio-page__column portfolio-page__column--right">
      <app-position-list></app-position-list>
    </div>
  </div>
</div>
