<div class="smdi" *ngIf="ticker">
  <div class="smdi__toolbar">
    <button class="btn btn-danger btn-sm" type="button" (click)="onCancelMarketData()" title="Stop streaming">Remove</button>
  </div>
  <a class="list-group-item clearfix smdi__card" routerLinkActive="active">
    <div *ngIf="contract" class="smdi__body">
      <h4 class="list-group-item-heading smdi__title">
        {{ contract.lastTradeDate ? contract.symbol + ' ' + contract.lastTradeDate : contract.symbol }}
      </h4>
      <div *ngFor="let comboLeg of contract.comboLegs" class="smdi__combo">
        <app-combo-leg-data-display [comboLeg]="comboLeg"></app-combo-leg-data-display>
      </div>
      <div class="smdi__ticks">
        <p class="list-group-item-text smdi__tick" *ngFor="let tick of ticker.data">
          {{ tick.field | fieldname }}: {{ tick.price | currency }}
        </p>
      </div>
    </div>
    <app-option-market-data-item *ngIf="optionTicker" [optionTicker]="optionTicker" [contract]="contract"></app-option-market-data-item>
  </a>
</div>
